.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .widget {
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0.7rem;
    padding: 0.5rem;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;

    .cityName {
      cursor: pointer;
    }

    div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 0.8rem;
    }

    div:nth-child(2) {
      p:nth-child(1) {
        font-size: x-large;
      }

      p:nth-child(2) {
        font-size: smaller;
        color: rgb(233, 233, 233);
      }
    }

    img {
      width: 32px;
      filter: grayscale(100%);
      background-color: rgb(255, 255, 255, 0.3);
      border-radius: 50%;
    }

    .deleteButton {
      width: 32px;
      font-size: 16px;
      cursor: pointer;
    }

    button {
      border: none;
      background: none;

      cursor: pointer;

      color: white;
      font-size: 32px;
    }

    .addInput {
      height: 100%;
      display: flex;
      flex-direction: column !important;
      align-items: center !important;

      input {
        color: white;

        text-align: center;
        background: none;
        border: none;
        max-width: 150px;
      }

      span {
        text-align: center;
      }
    }
  }
}
