.container {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  padding-top: 1rem;

  .backBtn {
    width: 30px;
    display: flex;
    justify-content: center;

    cursor: pointer;
  }
  .searchContainer {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    margin-left: 1rem;
    border-bottom: 2px solid white;

    input {
      background: none;
      border: none;
      color: white;
      width: 100%;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    .fetchBtnWrapper {
      width: 30px;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;

      border: none;
      background: none;
      color: white;

      cursor: pointer;
    }
  }
}
